input[type="text"],
textarea,
select,
input[type="password"] {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

label {
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

.control {
  padding: 20px;
}
