/*=====================
  Базовая типография
=====================*/

@font-face {
  font-family: "Proxima-bold";
  font-weight: normal;
  font-style: normal;

  src: local("Proxima-bold"),
  url("../font/proxima_nova_bold-webfont.woff2") format("woff2"),
  url("../font/proxima_nova_bold-webfont.woff") format("woff"),
  url("../font/proxima_nova_bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima";
  font-weight: normal;
  font-style: normal;

  src: local("Proxima"),
  url("../font/proxima_nova_regular-webfont.woff2") format("woff2"),
  url("../font/proxima_nova_regular-webfont.woff") format("woff"),
  url("../font/proxima_nova_regular-webfont.ttf") format("truetype");
}

$base-font: "Proxima", Arial, sans-serif;
$bold-font: "Proxima-bold", Arial, sans-serif;

body {
  color: $black;
  font-family: $base-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
