@font-face {
  font-family: "ambroise";
  font-weight: normal;
  font-style: normal;

  src: url("../font/ambroise_francois_demi_regular-webfont.woff2") format("woff2"),
  url("../font/ambroise_francois_demi_regular-webfont.woff") format("woff"),
  url("../font/ambroise_francois_demi_regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "brandon-text";
  font-weight: normal;
  font-style: normal;

  src: url("../font/hvd_fonts_-_brandontext-regular-webfont.woff2") format("woff2"),
  url("../font/hvd_fonts_-_brandontext-regular-webfont.woff") format("woff"),
  url("../font/hvd_fonts_-_brandontext-regular-webfont.ttf") format("truetype");
}

$title: "ambroise", "Times News Roman", serif;
$second-title: "brandon-text", "Arial", sans-serif;
$blue: #b4e7f8;

.techcrunch {
  color: #3e433e;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.625;

  h1 {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    margin: 2em 0 1em;
    font-size: 1.4375em;
  }

  p {
    margin: 0;
    margin-bottom: 1em;
  }

  a {
    color: #089e00;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: 14px;
    padding-left: 30px;

    &::before {
      position: absolute;
      top: 10px;
      left: 5px;
      width: 10px;
      height: 10px;
      background-color: #089e00;
      content: "";
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  figure {
    margin: 20px 0;
    padding: 0;
  }

  figcaption {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-family: $second-title;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  blockquote {
    position: relative;
    float: left;
    max-width: 55%;
    margin: 0 1em 1em 0;
    margin-right: 0.5em;
    margin-bottom: 0;
    padding-left: 1.3em;
    border-left: 0;
    color: #444444;
    color: #089e00;
    letter-spacing: -1px;
    font-size: 1.4em;
    font-style: italic;

    @media (max-width: 960px) {
      float: none;
      width: auto;
      max-width: 100%;
      margin: 50px;
    }

    @media (max-width: 768px) {
      width: auto;
      max-width: 100%;
      margin: 20px 0;
    }
  }

  cite {
    display: block;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 10px;
    font-style: normal;
    line-height: 13px;
  }

  ::selection {
    background: $blue;
  }
}
